<html lang="pt">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Cadastro de tarefas</title>

	</head>

	<body>

	<form action="/informacoes-tarefa" method="post">
	  <div>
			<label for="nome">Nome:</label>
			<input type="text" id="nome" />
	  </div>
		<div>
			<label for="descricao">Descrição:</label>
		  	<input type="text" id="descricao">
		</div>
		<div>
			<button type="submit">Cadastrar Tarefa</button>
		</div>
	</form>

	</body>
</html>